body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/background.jpg');
    height: 100px;
    background-repeat: no-repeat;
}

.complete {
    text-decoration: line-through;
    background-color: lightgreen;
}
